/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*

========================

Custom Styles

========================

*/

body {
    font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primary-header,
.primary-footer {
    background-color: #387EA4;
}

/*

========================

Grid

========================

*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

/*

========================

Navigation

========================

*/

.nav {
    margin-top: 26px;
}

.nav ul {
    margin: auto 80px;
}

.nav li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
    text-transform: uppercase;
    padding-bottom: 24px;
}

.nav li:last-child {
    margin-right: 0;
}

.active-page {
    border-bottom: 3px solid #FFFCF2;
}

li a {
    text-decoration: none;
    color: #FFFCF2;
}

/*

========================

Typography

========================

*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/*

========================

Primary Footer

========================

*/

.primary-footer {
    vertical-align: bottom;
    height: 75px;
    position: fixed;
    bottom: 0;
}

.primary-footer section {
    text-align: center;
    padding-top: 27px;
}
.primary-footer p {
    margin: 0 10px;
    display: inline-block;
    color: #FFFCF2;
}

/*

========================

Name Container

========================

*/

.name-background {
    background-color: #459BC9;
    box-shadow: 0 10px 5px #888888;
}

.name {
    font-size: 40px;
}

.name-container {
    padding: 70px 80px;
    color: #FFFCF2;
}

.name-container h3 {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 3px;
}

.name-container img {
    max-width: 200px;
    border-radius: 50%;
    float: right;
    margin-top: -110px;
}

/*

========================

Overview Container

========================

*/

.overview-container {
    background-color: #616B6B;
    box-shadow: inset 0px 4px 3px rgba(50, 50, 50, 0.75);
}